:root {
    --sidebar-bg: #142028;
    --card-bg: #1d2b34;
    --text-color: #818ea3;
    --text-color2: #ffffff;
    --hover-bg: #2c2f36;
    --hover-text-color: #fff;
    --active-bg: #2c2f36;
    --active-text-color: #fff;
    --logo-bg: #142028;
    --icon-color: #818ea3;
    --badge-bg: #3a3f50;
    --badge-text: #fff;
    --bg-color: #0e1217;
    --offer-badge-bg: #4caf50;
    --offer-badge-text: #fff;
    --sidebar-border: #2f3336;
    --extra-header-color: #818ea3;
    --font-family: 'Poppins', sans-serif;
  }
  
  .token-list {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    padding: 10px 0px; 
  }

  .token-title-box {
    margin-bottom: 15px;
    color: var(--text-color2);
  }
  
  .token-title-box h1 {
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .token-title-box img {
    margin-right: 5px;
    width: 28px;
    padding: 5px;
    border-radius: 50%;
    background-color: #00b8d8; 
  }
  
  .token-title-box h1 span {
    font-weight: 400;
    color: var(--text-color); 
  }
  
  .token-title-box p {
    font-size: 16px;
    color: var(--text-color2);
  }
  
  .token-title-box p strong {
    color: var(--text-color2);
  }
  
  .token-title-box button {
    background-color: #00b8d8;
    color: var(--text-color2);
    font-size: 14px;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-left: 15px;
  }
  
  .token-title-box button:hover {
    background-color: #00a0c0; 
  }
  
  .token-title-box span {
    margin-left: 5px;
    font-size: 16px;
    color: var(--text-color);
  }  

  .token-subtitle{
    font-size: 14px;
    margin: 20px 0;
  }
  
  .token-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  
  .token-card {
    background-color: var(--card-bg);
    border-radius: 8px;
    padding: 22px 15px;
  }

  .token-grid-2{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .token-card-2{
    width: 100%;
    max-width: 380px;
  }
  
  .token-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 18px;
  }
  
  .token-name-wrapper {
    display: flex;
    align-items: center;
  }

  .token-img-box{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  .token-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 18px;
  }

  .token-img-box img:last-child{
    position: absolute;
    bottom: -3px;
    right: 8px;
    padding: 3px;
    border-radius: 50%;
    background-color: #00b8d8;
  }
  
  .token-names {
    display: flex;
    flex-direction: column;
  }
  
  .token-name {
    font-weight: bold;
    color: var(--text-color2);
    font-size: 16px;
  }
  
  .token-full-name {
    font-size: 14px;
    color: var(--text-color);
  }
  
  .token-date {
    display: flex;
    align-items: center;
    font-size: 12px;
    flex-direction: column;
    color: var(--text-color);
  }

  .token-date-title{
    gap: 5px;
    display: flex;
    font-size: 16px;
    align-items: center;
    color: var(--text-color2);
  }

  .token-date-title img{
    width: 20px;
  }
  
  .ethereum-icon {
    margin-right: 5px;
    color: var(--icon-color);
  }
  
  .days-ago {
    margin-left: 5px;
  }
  
  .token-address {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #00b8d8;
  }
  
  .copy-icon {
    margin-left: 5px;
    cursor: pointer;
    color: var(--icon-color);
  }
  
  .copy-icon:hover {
    color: var(--text-color2);
  }

  @media (max-width: 1024px) {
    .token-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    .NewSocials-top-tokens {
      flex-direction: column;
    }
  
    .NewSocials-top-tokens .NewSocials-token-card {
      max-width: 100%;
    }
  
    .NewSocials-token-card {
      width: 100%;
    }
  
    .token-grid {
      grid-template-columns: 1fr;
    }
  }