:root {
    --sidebar-bg: #142028;
    --card-bg: #1d2b34;
    --text-color: #818ea3;
    --text-color2: #ffffff;
    --hover-bg: #2c2f36;
    --hover-text-color: #fff;
    --active-bg: #2c2f36;
    --active-text-color: #fff;
    --logo-bg: #142028;
    --icon-color: #818ea3;
    --badge-bg: #3a3f50;
    --badge-text: #fff;
    --bg-color: #0e1217;
    --offer-badge-bg: #4caf50;
    --offer-badge-text: #fff;
    --sidebar-border: #2f3336;
    --extra-header-color: #818ea3;
    --font-family: 'Poppins', sans-serif;
  }
  
  .token-list {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    padding: 10px 0px; 
  }

  .token-list p{
    font-size: 14px;
    margin: 20px 0;
  }
  
  .token-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
  }
  
  .token-card {
    background-color: var(--card-bg);
    border-radius: 8px;
    padding: 22px 15px;
  }
  
  .token-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 18px;
  }
  
  .token-name-wrapper {
    display: flex;
    align-items: center;
  }

  .token-img-box{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  .token-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 18px;
  }

  .token-img-box img:last-child{
    position: absolute;
    bottom: -3px;
    right: 8px;
    padding: 3px;
    border-radius: 50%;
    background-color: #00b8d8;
  }
  
  .token-names {
    display: flex;
    flex-direction: column;
  }
  
  .token-name {
    font-weight: bold;
    color: var(--text-color2);
    font-size: 16px;
  }
  
  .token-full-name {
    font-size: 14px;
    color: var(--text-color);
  }
  
  .token-date {
    display: flex;
    align-items: center;
    font-size: 12px;
    flex-direction: column;
    color: var(--text-color);
  }

  .token-date-title{
    gap: 5px;
    display: flex;
    font-size: 16px;
    align-items: center;
    color: var(--text-color2);
  }

  .token-date-title img{
    width: 20px;
  }
  
  .ethereum-icon {
    margin-right: 5px;
    color: var(--icon-color);
  }
  
  .days-ago {
    margin-left: 5px;
  }
  
  .token-address {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #00b8d8;
  }
  
  .copy-icon {
    margin-left: 5px;
    cursor: pointer;
    color: var(--icon-color);
  }
  
  .copy-icon:hover {
    color: var(--text-color2);
  }