.price-alerts {
    color: white;
    padding: 0px 12px;
  }
  
  .price-alerts .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .price-alerts .header h2 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .price-alerts .expiration-message {
    color: #a0aec0;
    font-size: 10px;
    font-weight: 400;
  }
  
  .price-alerts .alert-count-box {
    background-color: #202f39;
    border-radius: 15px;
    padding: 10px 16px;
    color: #a0aec0;
    gap: 5px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .price-alerts .alert-count {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .price-alerts .alert-count span {
    font-size: 18px;
    color: var(--text-color2);
  }
  
  .price-alerts .alert-count svg {
    width: 28px;
    height: 28px;
    color: #a0aec0;
  }

  .price-alerts .alert-count-box h5{
    font-size: 10px;
  }
  
  .price-alerts .info-box {
    padding: 0px 10px;
    font-size: 12px;
  }
  
  .price-alerts .info-box:last-child {
    margin-bottom: 0;
  }
  
  .price-alerts .asterisk {
    margin-right: 5px;
  }
  
  .price-alerts .highlight {
    color: #4299e1;
  }