
:root {
    --sidebar-bg: #142028;
    --text-color: #818ea3;
    --text-color2: #ffffff;
    --hover-bg: #2c2f36;
    --hover-text-color: #fff;
    --active-bg: #2c2f36;
    --active-text-color: #fff;
    --logo-bg: #142028;
    --icon-color: #818ea3;
    --badge-bg: #3a3f50;
    --badge-text: #fff;
    --offer-badge-bg: #4caf50;
    --offer-badge-text: #fff;
    --sidebar-border: #2f3336;
    --extra-header-color: #818ea3;
    --font-family: 'Poppins', sans-serif;
}

.PairAccordion-container {
    background-color: var(--sidebar-bg);
    color: var(--text-color);
    font-family: var(--font-family);
    padding: 20px;
    border-radius: 8px;
}

.PairAccordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.PairAccordion-title {
    color: var(--text-color2);
    font-size: 1.5rem;
    font-weight: bold;
}

.PairAccordion-controls {
    display: flex;
    align-items: center;
}

.PairAccordion-update {
    background-color: transparent;
    color: #3498db;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.PairAccordion-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.PairAccordion-toggle {
    background-color: transparent;
    color: var(--text-color);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.PairAccordion-info {
    color: var(--text-color);
    margin-bottom: 20px;
    line-height: 1.5;
}

.PairAccordion-questions {
    display: flex;
    flex-direction: column;
}

.PairAccordion-question {
    background-color: var(--hover-bg);
    color: var(--text-color2);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

.PairAccordion-question-header {
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.PairAccordion-question-header:hover {
    background-color: var(--active-bg);
}

.PairAccordion-arrow {
    margin-right: 10px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.PairAccordion-arrow.rotated {
    transform: rotate(180deg);
}

.PairAccordion-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
}

.PairAccordion-answer.expanded {
    max-height: 500px; /* Adjust this value based on your maximum expected content height */
}

.PairAccordion-answer-content {
    padding: 0 15px 15px;
    color: var(--text-color);
    font-size: 0.9em;
    line-height: 1.6;
}

.PairAccordion-answer-content p {
    margin: 0;
}

.PairAccordion-answer-content ol {
    padding-left: 20px;
    margin: 0;
}

.PairAccordion-answer-content li {
    margin-bottom: 8px;
}

.PairAccordion-answer-content li:last-child {
    margin-bottom: 0;
}