*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --white: #fff;
    --dark: #1f2937;
    --grey: #cacedb;
    --blue: #06b6d4;
    --dark-bg: #111827;
    --light-blue: #22d3ee;
    border-bottom: 1px solid #4f545a;
}