.Pairexplorer-container {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
  }
  
  .Pairexplorer-top-bar {
    display: flex;
    justify-content: space-between;
    color: #fff;
  }
  
  .Pairexplorer-content {
    display: flex;
    flex: 1;
  }
  
  .Pairexplorer-left-panel {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 10px 0;
  }
  
  .Pairexplorer-section {
    flex: 1;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .Pairexplorer-right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
  }