:root {
    --sidebar-bg: #142028;
    --text-color: #818ea3;
    --text-color2: #ffffff;
    --hover-bg: #2c2f36;
    --hover-text-color: #fff;
    --active-bg: #2c2f36;
    --active-text-color: #fff;
    --logo-bg: #142028;
    --icon-color: #818ea3;
    --badge-bg: #3a3f50;
    --badge-text: #fff;
    --offer-badge-bg: #4caf50;
    --offer-badge-text: #fff;
    --sidebar-border: #2f3336;
    --extra-header-color: #818ea3;
    --font-family: 'Poppins', sans-serif;
    --table-header-bg: #142028;
    --table-body-bg: #0b1217;
    --table-row-hover: #1d2a34;
  }
  
  .Exchanges-container {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 5px;
    overflow-x: auto ;
    scrollbar-width: thin;
  }
  
  .Exchanges-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 4px;
  }

  .Exchanges-table thead th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .Exchanges-table thead th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .Exchanges-table th {
    padding: 15px;
    text-align: left;
  }

  .Exchanges-table td {
    padding: 10px 15px;
    text-align: left;
    color: var(--text-color2);
  }
  
  .Exchanges-table th {
    background-color: var(--sidebar-bg);
    color: var(--badge-text);
    font-weight: normal;
    font-size: 0.9em;
  }
  
  .Exchanges-table tbody tr {
    background-color: var(--table-body-bg);
  }
  
  .Exchanges-table tbody tr:hover {
    background-color: var(--table-row-hover);
  }
  
  .Exchanges-name {
    display: flex;
    align-items: center;
  }
  
  .Exchanges-logo {
    width: 34px;
    height: 34px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: var(--active-text-color);
  }
  
  .Exchanges-icon {
    vertical-align: middle;
    margin-left: 5px;
    color: var(--icon-color);
    font-size: 0.8em;
  }
  
  .Exchanges-action-button {
    background-color: var(--active-bg);
    color: var(--icon-color);
    width: 24px;
    height: 24px;
    border: none;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .Exchanges-action-button:hover {
    color: var(--text-color2);
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .Exchanges-table {
      font-size: 14px;
    }
  
    .Exchanges-table th,
    .Exchanges-table td {
      padding: 8px;
    }
  
    .Exchanges-logo {
      width: 20px;
      height: 20px;
    }
  }