:root {
    --sidebar-bg: #142028;
    --text-color: #818ea3;
    --text-color2: #ffffff;
    --hover-bg: #2c2f36;
    --hover-text-color: #fff;
    --active-bg: #2c2f36;
    --active-text-color: #fff;
    --logo-bg: #142028;
    --icon-color: #818ea3;
    --badge-bg: #3a3f50;
    --badge-text: #fff;
    --offer-badge-bg: #4caf50;
    --offer-badge-text: #fff;
    --sidebar-border: #2f3336;
    --extra-header-color: #818ea3;
    --redhover: #9d0000;
    --light-blue: #22d3ee;
    --font-family: 'Poppins', sans-serif;
  }
  
  
/*------------------------------*\
    #FOOTER-SECTION
/*------------------------------*/
.Token-footer-section{
  height: 10vh;
  padding: 10px 18px;
  margin-bottom: 2.3rem;
  background-color: var(--sidebar-bg);
}

.Token-footer-container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Token-footer-icon-box{
  gap: 12px;
  display: flex;
  align-items: center;
}

.Token-footer-icon-box a{
  opacity: 0.6;
  color: var(--text-color2);
  margin-bottom: -3px;
  text-decoration: none;
}

.Token-footer-icon{
  width: 18px;
  height: 18px;
}

.Token-footer-icon-box a:hover{
  opacity: 1;
}

.Token-footer-content{
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Token-footer-img-box{
  gap: 12px;
  display: flex;
  align-items: center;
}

.Token-footer-img-box img{
  cursor: pointer;
}

.Token-footer-link-content{
  gap: 8px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.Token-footer-link-box,
.Token-footer-link-box p{
  display: flex;
  gap: 15px;
}

.Token-footer-link-box a{
  font-size: 12px;
  text-decoration: none;
  color: var(--light-blue);
}

.Token-footer-link-box p{
  font-size: 12px;
  color: var(--text-color2);
}

@media (max-width: 1024px){
  .Token-footer-section{
      height: auto;
  }
  .Token-footer-section{
      padding: 18px 20px;
  }
  .Token-footer-container{
      flex-direction: column;
  }
  .Token-footer-content{
      margin-top: 20px;
      flex-direction: column
  }
}

@media (max-width: 768px){
  .Token-footer-link-content{
      gap: 15px;
      align-items: center;
  }
  .Token-footer-link-content div:first-child{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .Token-footer-link-box p{
      gap: 5px;
      align-items: center;
      flex-direction: column;
  }
  .Token-footer-link-box p span:nth-child(2){
      display: none;
  }
}