.token-holders-chart {
    color: #818ea3;
    font-family: Arial, sans-serif;
  }
  
  .chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .chart-title {
    color: #ffffff;
    font-size: 14px;
    gap: 8px;
    display: flex;
    cursor: pointer;
    align-items: center;
    background-color: #1c2631;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #66748b;
  }

  .chart-title:hover{
    background-color: #29394b;
  }
  
  .chart-icon {
    margin-right: 8px;
  }
  
  .total-holders {
    color: #ffffff;
  }
  
  .holders-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
  }
  
  .holders-table th {
    text-align: left;
    color: #818ea3;
    font-weight: normal;
    padding: 8px;
  }
  
  .holders-table td {
    padding: 8px;
    color: #ffffff;
  }
  
  .address {
    color: #0dcaf0;
  }
  
  .copy-icon {
    cursor: pointer;
    margin-left: 5px;
    vertical-align: middle;
    color: #818ea3;
  }
  
  .copy-icon:hover {
    color: #ffffff;
  }
  
  .bar-cell {
    width: 50%;
  }
  
  .progress-bar {
    width: 100%;
    background-color: #1d2a34;
    height: 6px;
    border-radius: 3px;
    overflow: hidden;
  }
  
  .progress {
    height: 100%;
    background-color: #ffffff;
    border-radius: 3px;
  }
  
  .progress.remaining {
    background-color: #ffffff;
  }
  
  tfoot td {
    color: #818ea3;
  }