/* crypto-hotPairTable.css */
:root {
    --sidebar-bg: #141922;
    --bg-color: #0e1217;
    --text-color: #818ea3;
    --text-color-light: #ffffff;
    --row-bg: #151b22;
    --row-hover-bg: #1c2430;
    --positive-color: #00b8a9;
    --negative-color: #ef534f;
    --badge-bg: #2c3e50;
    --audit-badge-bg: #ffa500;
    --dext-score-bg: #2a3d52;
    --main-bg: #0d1117;
  }
  
  .crypto-hotPair-table-container {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    padding: 5px;
    overflow-x: auto ;
    scrollbar-width: thin;
  }
  
  .crypto-hotPair-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 4px;
  }

  .crypto-hotPair-table thead th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .crypto-hotPair-table thead th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .crypto-hotPair-table th {
    text-align: left;
    padding: 18px 15px;
    font-weight: 500;
    font-size: 0.85rem;
    color: var(--text-color-light);
    background-color: var(--sidebar-bg);
  }

  .crypto-hotPair-table th:last-child
  .hotPair-header {
    justify-content: flex-end;
  }

  .hotPair-header{
    gap: 5px;
    display: flex;
    align-items: center;
  }
  
  .crypto-hotPair-table td {
    padding: 12px 15px;
    color: var(--text-color-light);
    font-size: 1rem;
  }
  
  .crypto-hotPair-table tr:hover td {
    background-color: var(--row-bg);
  }
  
  .hotPair-sort-icon {
    cursor: pointer;
    font-size: 0.7rem;
    color: var(--text-color);
  }
  
  .hotPair-cell {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .hotPair-number {
    color: var(--text-color);
    font-size: 0.8rem;
  }
  
  .sort-arrow {
    font-size: 0.7rem;
  }
  
  .sort-arrow.up {
    color: var(--positive-color);
  }
  
  .sort-arrow.down {
    color: var(--negative-color);
  }
  
  .hotPair-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  
  .hotPair-info {
    width: 120px;
    display: flex;
    flex-direction: column;
  }
  
  .hotPair-name {
    gap: 5px;
    display: flex;
    font-weight: 500;
    align-items: center;
  }

  .crypto-hotPair-table tr:hover 
  .hotPair-name span:first-child{
    color: #00c9ff;
  }

  .hotPair-name span:last-child{
    font-size: 12px;
    color: var(--text-color);
  }
  
  .hotPair-address {
    color: var(--text-color-light);
    font-size: 0.75rem;
  }
  
  .hotPair-copy-icon{
    font-size: 0.7rem;
    margin-left: 2px;
    cursor: pointer;
  }

  .hotPair-copy-icon:hover{
    color: var(--text-color);
  }

  .change-cell{
    display: flex;
    align-items: center;
  }
  
  .change-cell.positive {
    color: var(--positive-color);
  }
  
  .change-cell.negative {
    color: var(--negative-color);
  }
  
  .dext-score-wrapper {
    width: 36px;
    height: 36px;
  }
  
  .dext-score-circle {
    width: 100%;
    height: 100%;
  }
  
  .circle-bg {
    fill: none;
    stroke: var(--dext-score-bg);
    stroke-width: 2.8;
  }
  
  .circle {
    fill: none;
    stroke: #00c9ff;
    stroke-width: 2.8;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  
  .dext-score {
    font-size: 12px;
    fill: var(--text-color-light);
    font-weight: bold;
    text-anchor: middle;
  }
  
  .audit-badge {
    background-color: var(--badge-bg);
    color: var(--text-color-light);
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 0.75rem;
    display: flex;
    width: 50px;
  }
  
  .audit-badge.with-audits {
    background-color: var(--audit-badge-bg);
  }
  
  .actions-cell {
    display: flex;
    gap: 10px;
  }
  
  .action-icon {
    cursor: pointer;
    font-size: 1.1rem;
  }

  .actions-cell span:nth-child(1):hover,
  .actions-cell span:nth-child(2):hover{
    color: #00c9ff;
  }

  .actions-cell span:last-child:hover{
    color: var(--audit-badge-bg);
  }