
.sideboxone-main-container{
  overflow: hidden;
  border-radius: 10px;
}

.sideboxone-logo-container {
  width: 100%;
  height: 90px;
  overflow: hidden;
  position: relative;
}

.sideboxone-logo-container img{
  width: 100%;
  height: 100px;
}

.sideboxone-container {
    background-color: var(--sidebar-bg);
    color: var(--text-color);
    font-family: var(--font-family);
    padding: 16px;
    border-radius: 8px;
  }
  
  .sideboxone-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .sideboxone-logo, .sideboxone-robot-logo {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .sideboxone-pool-info {
    gap: 5px;
    display: flex;
    align-items: center;
  }

  .sideboxone-pool-info img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--text-color2);
  }
  
  .sideboxone-pool-badge {
    color: var(--badge-text);
    font-size: 14px;
  }
  
  .sideboxone-pool-name {
    color: var(--text-color2);
    font-size: 14px;
  }
  
  .sideboxone-binoculars {
    cursor: pointer;
    color: var(--text-color2);
  }

  .sideboxone-binoculars:hover{
    color: #39c1da;
  }
  
  .sideboxone-pair-info {
    margin-bottom: 16px;
  }
  
  .sideboxone-pair-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }
  
  .sideboxone-pair-label {
    color: var(--text-color2);
    font-size: 12px;
  }
  
  .sideboxone-pair-value {
    color: #39c1da;
    font-size: 12px;
    gap: 5px;
    display: flex;
    align-items: center;
  }
  
  .sideboxone-copy-icon {
    margin-left: 4px;
    cursor: pointer;
    color: var(--text-color);
  }

  .sideboxone-copy-icon:hover{
    color: var(--text-color2);
  }
  
  .sideboxone-defi-label {
    background-color: var(--badge-bg);
    color: var(--badge-text);
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
    outline: none;
    border: none;
    gap: 5px;
    border-radius: 4px;
    font-size: 12px;
    margin-bottom: 16px;
  }

  .sideboxone-defi-label img{
    width: 18px;
  }
  
  .sideboxone-defi-icon {
    margin-right: 4px;
  }
  
  .sideboxone-metrics-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 16px;
  }
  
  .sideboxone-metric-item {
    display: flex;
    padding: 5px;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    background-color: #0b1217;
  }
  
  .sideboxone-metric-label {
    color: var(--text-color);
    font-size: 12px;
    margin-bottom: 4px;
  }
  
  .sideboxone-metric-value {
    color: var(--text-color2);
    font-size: 14px;
    font-weight: bold;
  }
  
  .sideboxone-up-icon {
    color: #4caf50;
    margin-left: 4px;
  }
  
  .sideboxone-info-icon {
    font-size: 10px;
    margin-left: 2px;
    color: var(--text-color);
  }
  
  .sideboxone-more-info {
    color: var(--text-color);
    font-size: 12px;
    cursor: pointer;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }