



.LiveNewPairsTable-title-box h1{
    margin: 30px 0 10px 0;
    color: var(--text-color2);
}

.LiveNewPairsTable-suntitle-container{
    display: flex;
    margin-bottom:20px;
    align-items: center;
    justify-content: space-between;
}

.LiveNewPairsTable-suntitle-container p{
    color: var(--text-color-light);
}

.LiveNewPairsTable-suntitle-container p span{
    color: #5835f6;
}

.LiveNewPairsTable-suntitle-container input{
    width: 30%;
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 20px;
    color: var(--text-color2);
    background-color: var(--sidebar-bg);
}

.LiveNewPairsTable-container {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    padding: 5px;
    width: 100%;
    overflow-x: auto ;
    scrollbar-width: thin;
}
  
.LiveNewPairsTable-container table {
    width: 100%;
    min-width: 1600px;
    margin-top: 5px;
    border-collapse: separate;
    border-spacing: 0 4px;
}
  
.LiveNewPairsTable-container table th {
    text-align: left;
    padding: 15px 15px;
    font-weight: 500;
    font-size: 0.85rem;
    color: var(--text-color2);
    background-color: var(--sidebar-bg);
}
  
.LiveNewPairsTable-container table thead th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
  
.LiveNewPairsTable-container table thead th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
.LiveNewPairsTable-container table th:last-child
.Pair-header {
    justify-content: flex-end;
}
  
.LiveNewPairs-header{
    gap: 5px;
    display: flex;
    align-items: center;
}
  
.LiveNewPairsTable-container table td {
    padding: 10px 15px;
    color: var(--text-color2);
    font-size: 1rem;
}
  
.LiveNewPairsTable-container table tr:hover td {
    background-color: var(--row-bg);
}
  
.LiveNewPairs-sort-icon {
    cursor: pointer;
    font-size: 0.7rem;
    color: var(--text-color);
}
  
.LiveNewPairs-cell {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.LiveNewPairs-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
  
.LiveNewPairs-info {
    width: 120px;
    display: flex;
    flex-direction: column;
}
  
.LiveNewPairs-name {
    gap: 5px;
    display: flex;
    font-weight: 500;
    align-items: center;
}
  
.LiveNewPairsTable-container tr:hover 
.LiveNewPairs-name span:first-child{
    color: #00c9ff;
}
  
.LiveNewPairs-name span:last-child{
    font-size: 12px;
    color: var(--text-color);
}
  
.LiveNewPairs-address {
    color: var(--text-color2);
    font-size: 0.75rem;
}
  
.LiveNewPairs-copy-icon{
    font-size: 0.7rem;
    margin-left: 2px;
    cursor: pointer;
}
  
.LiveNewPairs-copy-icon:hover{
    color: var(--text-color);
}
  
.LiveNewPairs-time{
    gap: 5px;
    display: flex;
    align-items: center;
}

.LiveNewPairs-actions {
    display: flex;
    gap: 10px;
}
  
.LiveNewPairs-actions-icon,
.LiveNewPairs-actions-lock{
    cursor: pointer;
    font-size: 1.3rem;
}

.LiveNewPairs-actions img{
    width: 18px;
    padding: 1px;
    height: 18px;
    cursor:pointer;
    margin-top: 3px;
    border-radius: 50%;
    background-color: #fff;
}

.LiveNewPairs-actions span:nth-child(3){
    color: #0080ff;
}

.LiveNewPairs-actions span:nth-child(4):hover{
    color: #00c9ff;
}
  
.LiveNewPairs-actions span:last-child:hover{
    color: var(--audit-badge-bg);
}